// base color defs
$color-primary: #15afa6;
// color variable map
$colors: (
  white: #fff,
  black: #333,
  background: #fff,
  text: #333,
  primary: (
    base: $color-primary,
    light: lighten($color-primary, 15%),
    dark: darken($color-primary, 15%),
    trans: transparentize($color-primary, 0.5)
  ),
  palette: (
    purple: #8d549e,
    blue: #0c94bf,
    green: #56aa4c,
    yellow: #f9b61c,
    red: #a3012b,
    orange: #e96521,
    pink: #c80d77,
  ),
  grey: (
    base: #162637,
    dark: #0d1823,
    light: #e9edf2,
  )
);

// retrieve color from $colors map #ie. `color(base, primary)`
@function color($color-name, $color-variant:null) {
  // color variant is optional
  @if ($color-variant != null) {
    // map inception
    @return map-get(map-get($colors, $color-name), $color-variant);
  } @else {
    @return map-get($colors, $color-name);
  }
}