@mixin icon($size: 1em) {
  display: inline-block;
  width: $size;
  height: $size;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
  vertical-align: -0.15em;
}

[class^="icon-"], [class*="icon-"] {
  @include icon;
}

.picto--title {
  @include icon(1.4em);
}

/* ==========================================
Single-colored icons can be modified like so:
.icon-name {
  font-size: 32px;
  color: red;
}
========================================== */

.icon-pinterest {
  width: 0.8571428571428571em;
}

.icon-d {
  width: 0.90625em;
}

.icon-chevron {
  width: 0.34375em;
}

.icon-chrono {
  width: 0.9375em;
}

.icon-cloud {
  width: 1.1875em;
}

.icon-facebook {
  width: 0.59375em;
}

.icon-linkedin {
  width: 0.8571428571428571em;
}

.icon-key {
  width: 1.4375em;
}

.icon-power {
  width: 0.96875em;
}

.icon-qualite {
  width: 0.90625em;
}

.icon-tutos {
  width: 1.1875em;
}

.icon-twitter {
  width: 0.9375em;
}
