@import "~foundation-sites/scss/util/util";
@import "colors";

$enable-flex:           false;
$main-small-columns:       12;
$sidebar-small-columns:    4;

$header-height: rem-calc(80);

$global-transition: 300ms ease;

// 1. Global
// ---------

$global-font-size: 100%;
$global-width: rem-calc(1200);
$global-lineheight: 1.5;
$foundation-palette: (
  primary: color(primary, base),
  secondary: color(palette, blue),
  success: #3adb76,
  warning: #ffae00,
  alert: #cc0015,
  focus: #c80d77,
  white: #fff
);
$body-background: color(background);
$body-font-color: color(text);
$body-font-family: 'Raleway', Helvetica, Roboto, Arial, sans-serif;
$body-antialiased: true;
$global-margin: 2rem;
$global-padding: 2rem;
$global-weight-normal: normal;
$global-weight-bold: bold;
$global-radius: 0;
$global-text-direction: ltr;
$global-flexbox: false;
$print-transparent-backgrounds: true;

$header-color: inherit;
$header-lineheight: 1.4;
$header-margin-bottom: 0.5rem;
