%nobullet {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

@mixin position($top: 0, $right: auto, $bottom: auto, $left: 0) {
  bottom: $bottom;
  left: $left;
  position: absolute;
  right: $right;
  top: $top;
}

@mixin section-base($background: color(white)) {
  $padding: $global-padding * 2;
  background-color: $background;
  padding: $padding 0;
  position: relative;
  z-index: 1;

  > div {
    position: relative;
    z-index: 1;
  }
}

@mixin section-wrapper() {
  @include flex-grid-row;
  @include flex-align(center, middle);
}

@mixin section-contenu() {
  order: 1;
  text-align: justify;
  @include flex-grid-column;
  @include breakpoint(large) {
    @include grid-col-size(6);
  }
}

@mixin section-thumbnail($position: right) {
  @include flex-grid-column;
  @include breakpoint(large) {
    @include grid-col-size(6);
    @if $position == right {
      order: 0;
    } @else {
      order: 2;
    }
  }

  img {
    @include thumbnail;
  }
}

@mixin section-title($color: $color-primary, $font-size: rem-calc(30), $border: true) {
  align-items: center;
  color: $color;
  display: flex;
  font-size: $font-size;

  line-height: 1.2;
  text-transform: uppercase;
  font-weight: 500;
  text-align: left;

  @if $border {

    @include breakpoint(large) {
      justify-content: space-between;
      span {
        display: block;
        padding: 1em;
        width: auto;
      }

      &:before, &:after {
        background: currentColor;
        content: '';
        display: block;
        flex: 1;
        height: 2px;
      }
    }

  }
}

@mixin section-triangle($color: $light-gray) {
  $triangle-width: rem-calc(30);
  $triangle-height: rem-calc(24);

  &:before {
    background-position: top center;
    background-repeat: no-repeat;
    content: '';
    display: block;
    height: $triangle-height;
    top: 0;
    width: $triangle-width;
    z-index: 2;
    @include background-triangle($color);
    @include horizontal-center;
  }
}