$footer-gradient-size: rem-calc(5);
$footer-color: color(palette, blue);

.mainfooter {
  background-color: color(grey, base);
  background-size: cover;
  color: $white;

  &:before {
    background: linear-gradient(90deg, color(palette, red) 0%,  color(palette, red) 16.5%, color(palette, orange) 16.5%, color(palette, orange) 33%, color(palette, yellow) 33%, color(palette, yellow) 49.5%, color(palette, green) 49.5%, color(palette, green) 66%, color(primary, base) 66%, color(primary, base) 84.5%, color(palette, blue) 84.5%, color(palette, blue) 100%);
    content: '';
    display: block;
    height: $footer-gradient-size;
  }
}

.ours {
  background: color(grey, dark);
  padding: $global-padding 0;

  a {
    color: inherit;
    display: inline-block;

    &:after {
      background: currentColor;
      content: '';
      display: block;
      height: 2px;
      transition: width 200ms ease-out;
      width: 0;
    }

    &:hover {

      &:after {
        width: 100%;
      }
    }
  }
}

.widget--area {
  padding: $global-padding 0;
  @include grid-row;

  .widget {
    @include grid-column;
    @include breakpoint(medium) {
      @include grid-column-size(4);
    }
  }
}

.widget--title {
  font-size: 1.2rem;
  font-weight: bold;
  text-transform: uppercase;

  &:after {
    background: $footer-color;
    content: '';
    display: block;
    height: 2px;
    margin: 1em 0;
    width: 50%;
  }
}

.widget--item {
  margin-bottom: 1rem;
}

.widget {

  .post--title {
    font-size: 1.1rem;
    font-weight: 600;
  }
}

.nav-footer--item {
  margin-bottom: .5em;
  position: relative;

  [class^="icon"]{
    color: $footer-color;
    height: 1.6em;
    margin-right: .3em;
    position: relative;
    top: .5em;
    width: 1.6em;
  }

  a {
    color: inherit;
  }
}

.widget_recent_entries {

  ul {
    @extend .no-bullet;

    li {
      align-items: center;
      display: flex;

      a {
        color: inherit;
        order: 2;
      }

      .post-date {
        color: $footer-color;
        display: block;
        font-size: 1.5rem;
        font-weight: bold;
        line-height: 1;
        margin-right: 1em;
        max-width: 2em;
        text-align: center;
      }
    }
  }
}

.reseaux--list {
  margin-bottom: 0;
}
.reseaux--item {
  display: inline-block;
  margin: 0 0.1em;
}
.reseaux--link {
  background: $footer-color;
  border-radius: 50%;
  color: inherit;
  cursor: pointer;
  display: inline-block;
  font-size: 1.2rem;
  line-height: 0;
  padding: 0.5em;
  transition: all 200ms ease;

  &:hover, &:focus {
    background: darken($footer-color, 10%);
    color: $white;
  }

  [class^="icon-"], [class*="icon-"] {
    width: 1em;
  }
}
