@mixin open-menu($opened: false) {
  transition: opacity 0.2s cubic-bezier(1,0,0,1);
  @if $opened {
    display: block;
    visibility: visible;
    opacity: 1;
  } @else {
    display: none;
    visibility: hidden;
    opacity: 0;
  }
}

.menumobile {
  height: 46px;
  position: absolute;
  right: 1rem;
  top: 1rem;
  width: 46px;
  @include hide-for(xlarge);

  .menu-link {
    cursor: pointer;
    height: 100%;
    outline: 0;
    position: absolute;
    width: 100%;
    z-index: 1002;
  }

  .menu-circle {
    background-color: $dark-gray;
    border-radius: 50%;
    height: 100%;
    position: absolute;
    transform: scale(1);
    transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1);
    width: 100%;
    z-index: 1000;

    &:hover, &:focus {
       transform: scale(1.2);
    }

    .opened & {
      transform: scale(60);
    }
  }
}

.menu-icon {
  bottom: 1px;
  height: 14px;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  top: 0;
  width: 20px;
}

.navigation-menu {
  @extend .no-bullet;
  margin-bottom: 0;
  @include flex;
  // Version mobile
  @include breakpoint(large down) {
    align-items: center;
    background-color: color(palette, purple);
    color: $white;
    display: flex;
    flex-flow: column nowrap;
    height: 100vh;
    justify-content: center;
    left: 0;
    opacity: 0;
    position: fixed;
    top: 0;
    transition: opacity 0.2s cubic-bezier(1,0,0,1);
    visibility: hidden;
    width: 100vw;
    z-index: 1001;

    &.opened {
      opacity: 1;
      transition-delay: 0.03s;
      visibility: visible;
    }

    > .menu-item {
      text-align: center;
      width: 80%;

      &:not(:last-child) {

        &:after {
          border-bottom: solid 1px rgba($white, 0.1);
          content: '';
          display: block;
          margin: .1rem auto;
          width: 20%;
        }
      }
    }

    .sub-menu {
      display: none;
    }

    a {
      color: inherit;
      display: inline-block;
      font-size: 1.4rem;
      font-weight: 600;
      text-shadow: 1px 1px 2px $black;
      text-transform: uppercase;
    }
  }
  // Version desktop
  @include breakpoint(xlarge) {
    border-right: 1px solid rgba(255,255,255,0.8);
    height: $header-height;
    @include flex-align(right, stretch);

    > .menu-item {
      border-left: 1px solid rgba(255,255,255,0.8);
      position: relative;

      > a {
        color: inherit;
        display: block;
        font-size: rem-calc(14);
        height: $header-height;
        padding: 0 rem-calc(14);
        position: relative;
        @include flex;
        @include flex-align(center, middle);

        &:after {
          background: $primary-color;
          bottom: 0;
          content: '';
          display: block;
          height: 0;
          left: 0;
          position: absolute;
          transition: height 200ms ease-in-out;
          width: 100%;
        }

        &:hover, &:focus {

          &:after {
            height: rem-calc(5);
          }
        }
      }

      &.active a {

        &:after {
          height: rem-calc(5);
        }
      }

      &.menu-accueil a {
        font-size: rem-calc(24);
      }

      &.menu-acces-client a {
        color: $primary-color;
        font-weight: bold;
        text-align: center;

        .icon {
          font-size: rem-calc(24);
          top: 10px;
          @include horizontal-center;
        }
      }
    }

    .sub-menu {
      background: rgba(0,0,0,0.9);
      list-style: none;
      margin: 0;
      width: rem-calc(300);
      z-index: 999;
      padding: $global-padding / 2;
      @include position($header-height, auto, auto, 0);

      @include open-menu;

      &:hover {
        @include open-menu(true);
      }

      > .menu-item  {
        a {
          display: block;
          color: color(white);

          &:hover {
            color: color(primary, base);
          }
        }
        & + li {
          margin-top: $global-padding / 2;
        }
      }
    }

    .menu-item-has-children > a {
      &:hover, &:focus {
        & ~ .sub-menu {
          @include open-menu(true);
        }
      }
    }
  }
}

.menu-line {
  background-color: $white;
  border-radius: 2px;
  height: 2px;
  left: 0;
  position: absolute;
  transition: all 0.25s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  width: 100%;
}

.menu-line-1 {
  top: 0;

  .opened & {
    transform: translateY(7px) translateY(-50%) rotate(-45deg);
  }
}

.menu-line-2 {
  bottom: 0;
  margin: auto;
  top: 0;

  .opened & {
    opacity: 0;
  }
}

.menu-line-3 {
  bottom: 0;

  .opened & {
    transform: translateY(-7px) translateY(50%) rotate(45deg);
  }
}
