$banner-height: rem-calc(200);

$banner-fontsize: (
  small: rem-calc(24),
  medium: rem-calc(28),
  large: rem-calc(40)
);

.banner {
  position: relative;
  background-image: url(../images/banner-bg.jpg);
  background-size: cover;
  background-position: center;
  text-align: center;
  color: $white;
  min-height: $banner-height;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;

  &:before {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0, 0.6);
    z-index: 0;
    @include position(0,0, auto, auto);
  }

  .wrapper {
    position: relative;
    z-index: 1;
  }

  .home & {
    min-height: 450px;
  }

  .maintitle {
    text-transform: uppercase;
    max-width: $global-width;

    @include -zf-breakpoint-value($map: $banner-fontsize) {
      font-size: $-zf-bp-value;
    }

    .tagline {
      display: block;
      font-size: .8em;
      text-transform: lowercase;
    }

   & + .button {
      margin-top: $global-padding;
    }

  }

  .button {
    @include button(
      $expand: false,
      $background: color(palette, pink),
      $background-hover: darken(color(palette, pink), 15%),
      $color: color(white),
      $style: $button-fill
    )
    &.large {
      @include breakpoint(large) {
        font-size: map-get($button-sizes, large);
      }
    }
  }
}

.section {
  @include section-base;

  &:nth-child(even) {
    background: color(grey, light) url(../images/background-section.jpg) no-repeat;
    background-size: 100%;

    .section-thumbnail {
      @include section-thumbnail;
    }
  }

  &:nth-child(odd) {
    background: color(white);

    .section-thumbnail {
      @include section-thumbnail(left);
    }
  }

  &-wrapper {
    @include section-wrapper;

    .entry-content {
      @include grid-column-row;

      h2 {
        font-weight: bold;
      }
    }
  }

  &-contenu {
    @include section-contenu;
  }

  &--title {
    @include section-title;
  }

  &-title {
    @include grid-column-row;
    @include section-title($border: true);
  }

}
