$banner-height: rem-calc(200);

.banner {
  position: relative;
  background-image: url(../images/banner-bg.jpg);
  background-size: cover;
  background-position: center;
  text-align: center;
  color: $white;
  min-height: $banner-height;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;

  &:before {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0, 0.6);
    z-index: 0;
    @include position(0,0, auto, auto);
  }

  .wrapper {
    position: relative;
    z-index: 1;
  }

  .home & {
    background-image: url(../images/banner-home.jpg);
    min-height: 450px;
  }

  .maintitle {
    text-transform: uppercase;
    max-width: $global-width;
    font-size: 2.4rem;

    .tagline {
      display: block;
      font-size: .8em;
    }

   & + .button {
      margin-top: $global-padding;
    }

  }

  .button {
    @include button(
      $expand: false,
      $background: color(palette, pink),
      $background-hover: darken(color(palette, pink), 15%),
      $color: color(white),
      $style: $button-fill
    )
    &.large {
      font-size: map-get($button-sizes, large);
    }
  }
}

.section {
  @include section-base;

  &:nth-child(even) {
    background: color(grey, light) url(../images/background-section.jpg) no-repeat;
  }

  &-wrapper {
    @include section-wrapper;
  }

  &--title {
    @include section-title;
  }
}

