@import "~owl.carousel/src/scss/core";
@import '~owl.carousel/src/scss/animate';
@import '~owl.carousel/src/scss/autoheight';
@import '~owl.carousel/src/scss/lazyload';

$carousel-height: rem-calc(400);

.carousel {

  &-item {
    min-height: $carousel-height;
    background-size: cover;
    background-position: center;
    @include flex;
    @include flex-align(right, bottom);

    &-heading {
      padding: $global-padding;
      background: rgba($black, 0.8);
      color: $white;
      margin: 2rem;
      flex-basis: 40%;
    }
  }
}